<head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<h3>{{viewTitle}}</h3>

<form action="/" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{habit._id}}">
    <div class="form-group">
        <label>I commit to ...</label>
        <input type="text" class="form-control" name="commitment" placeholder="Commitment" value="{{habit.commitment}}">
        <div class="text-danger">
            {{habit.commitmentError}}</div>
    </div>
</form>